.wordcount{
    padding:40px;
    border:2px solid black;
    margin:0;
    background-color:grey;
    color:black;
    text-align: center;
    font-size:40px;
}

textarea {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 15px;
    border:3px solid black;
    
    

  }
  #word-count {
    font-size: 24px;
    font-weight: bold;
  }
  p{
    text-align:center;
    font-size:20px;
  }
  footer{
    text-align: center;
    margin-top:5px;
  }